<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Practice Citizenship Questions</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
    <div class = "questionWrap">
        <form action="/submit" method = "post">
            <input class = "startButton" value = "Start questions! " type = "submit">
            <div>
                <br>
                <label for ="randomQuestion">Randomize Questions</label>
                <input type = "checkbox" name = "randomQuestion" id = "randomQuestion">
            </div>
        </form>
    </div>
</body>

</html>
